*{
	margin: 0;
	padding: 0;
}
ol li{
	list-style: none;
}
.content{
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.content>input{
	display: none;
}
.list{
	position: relative;
	width: 640px;
	height: 400px;
}
.list>li{
	position: absolute;
	display: none;
}
img{
	height: 400px;
}
.dates{
	display: flex;
	flex-direction: row;
}
.dates>li{
	width: 20px;
	height: 20px;
	text-align: center;
	line-height: 20px;
	border-radius: 50%;
	background: #ccc;
	margin: 5px;
}
/*show image*/
input[name=chose]:nth-child(1):checked ~ .list > li:nth-child(1),
input[name=chose]:nth-child(2):checked ~ .list > li:nth-child(2),
input[name=chose]:nth-child(3):checked ~ .list > li:nth-child(3),
input[name=chose]:nth-child(4):checked ~ .list > li:nth-child(4),
input[name=chose]:nth-child(5):checked ~ .list > li:nth-child(5)
{
	display: block;
	animation: change 10s;
}
/*change the date's color*/
input[name=chose]:nth-child(1):checked ~ .dates > li:nth-child(1),
input[name=chose]:nth-child(2):checked ~ .dates > li:nth-child(2),
input[name=chose]:nth-child(3):checked ~ .dates > li:nth-child(3),
input[name=chose]:nth-child(4):checked ~ .dates > li:nth-child(4),
input[name=chose]:nth-child(5):checked ~ .dates > li:nth-child(5){
	color: white;
}
/*css3 add the animation*/
@keyframes  change{
	from{
		opacity: 0.6;
	}
	to{
		opacity: 1;
	}
}